.video {
    min-height: 550px;
    background: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%),
        url(../images/about/video_bg.png) center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .text {
        margin-top: 30px;
        color: #ffffff;
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.8px;
    }
}
